asgiref==3.6.0
Babel==2.12.1
Django==3.2.19
django-extra-views==0.14.0
django-haystack==3.2.1
django-oscar==3.2
django-phonenumber-field==6.4.0
django-tables2==2.3.4
django-treebeard==4.7
django-widget-tweaks==1.4.12
factory-boy==3.2.1
Faker==18.7.0
phonenumbers==8.13.11
Pillow==9.5.0
purl==1.6
python-dateutil==2.8.2
pytz==2023.3
six==1.16.0
sqlparse==0.4.4
